.header {

    background-color: #CE2829;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.header img {
    max-width: 100%;
    /* Büyük ekranlarda maksimum */
    width: 100%;
    /* Küçük ekranlarda sığması için */
    height: auto;
}