/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}



.orderpage {

    display: flex;
    align-items: left;
    flex-direction: column;
    max-width: 420px;
    min-height: 100vh;
    margin: 0 auto;

}

.baslik {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    max-width: 420px;
    margin: 10px auto;
    padding: 0px;

}

.fiyat {
    font-size: 1.5rem;
    
    font-weight: bold;
}

.puan {
    font-size: 1rem;
    font-weight: 100;
    margin-left: 10px;
}

.boyuthamur {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.secim {
    display: flex;
    flex-direction: column;

}

.form-group {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;

}




.radio-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}


.zorunluLabel::after {
    content: " *";
    color: red;
}

.zorunluLabel {
    font-size: large;
    font-weight: bold;
}

.label {
    font-size: large;
    font-weight: bold;
    margin: 20px 0%;


}



.checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
    gap: 10px;
    padding: 10px;
}

.qty {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    height: 40px;
    margin-top: 5px;
}

.qty-btn {
    width: 40px;
    height: 100%;
    border: none;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    transition: background 0.2s;
    background-color: #FDC913;



}

.qty-btn:hover {
    background: #eee;
}

.qty-input {
    width: 56px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    -moz-appearance: textfield;
}


.qty-input::-webkit-outer-spin-button,
.qty-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
   
    align-items: flex-start;
    
    gap: 20px;
   
    margin-top: 20px;
}

.form-row>div:first-child {
    flex: 1;
   
}

.form-row>div:last-child {
    flex: 2;
   
}

.siparis-buton {

    background-color: #FDC913;
    border: none;
    height: 30px;
    cursor: pointer;
    font-size: medium;

}

.siparis-buton:disabled {
    background-color: #ccc;
    cursor: not-allowed;

}


*/
/*
.successpage {
    background-color: #CE2829;
    width: 100vw;
    
    height: 100vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   /
    align-items: center;
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Barlow";
}

.successpage h1 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: white;
    font-family: 'Barlow', sans-serif;
    margin: 10px 0;
   
    text-align: center;
}


@media (max-width: 600px) {
    .successpage h1 {
        font-size: 1.8rem;
    }
}

.siparis-container {

    padding: 20px;
    color: white;
    min-width: 150px;
  
    max-width: 200px;
  
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Barlow";
}

.fiyat-container {
    max-width: 350px;
    max-height: 150px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    color: white;

    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

.fiyat-container p {
    margin: 0;
    font-size: 16px;
}

.fiyat-container p span {
    font-weight: 600;

    margin-left: 20px;
    color: white
}


hr {
    border: none;
    border-top: 2px solid white;
    width: 40%;
   
    margin: 20px auto;
   
}

.footer {
    background-color: black;
    color: #5F5F5F;
    padding: 20px;
}


.footer-top {
    display: flex;
    justify-content: center;
    
    gap: 30px;
}

.footer-section p {
    margin: 8px 0;
    line-height: 1.6;

}

.footer-section h2 {
    color: white;
    margin-bottom: 10px;
}


.footer hr {
    border: none;
    border-top: 1px solid #5F5F5F;
    margin: 10px auto;
}


.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}


.footer-insta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
}

.footer-insta img {
    width: 100%;
    max-width: 100px;
    border-radius: 8px;

    padding: 5px;

}


@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-insta {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .footer-insta {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {
    .lezzetus {

        flex-direction: column;
        max-width: 100%;
    }

    .resimlibutondiv {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

}

button.resimlibuton {
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 20px;
    border: hidden;
    border-radius: 50px;
    background: white;
    cursor: pointer;
}

.pizza-card {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 31%;
    text-align: center;

}

.pizza-img {
    width: 100%;
    border-radius: 10px;
}

/*
.radio-group {
    display: flex;
    gap: 15px;
}

.radio-label {
    cursor: pointer;
}

.radio-label input {
    display: none;

}

.radio-text {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 100%;
    transition: all 0.3s ease;
    background-color: #FAF7F2;
}

.radio-label input:checked+.radio-text {
    background-color: #FFEECC;


}

.hamurselect {
    width: 258px;

    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    background-color: #FAF7F2;
    font-size: 14px;
    cursor: pointer;


}




.checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    gap: 12px 20px;

}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-label input {
    display: none;
   
}

/*
.checkmark {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: #FAF7F2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: black;

}


.checkbox-label input:checked+.checkmark {
    background-color: #FDC913;
}

.checkbox-label input:checked+.checkmark::after {
    content: "✔";
}


/*navbar adı breadcrumb mış*/
/*
.breadcrumb {
    font-size: 16px;
    margin-bottom: 20px;
    color: #CE2829;

}

.breadcrumb a {
    text-decoration: none;
    color: #292929;

}

.breadcrumb span {
    margin: 0 5px;
}